.calendar {
  width: 100%;
  border: 1px solid #ced4da;
  flex-wrap: wrap;
}

.head {
  border-bottom: 1px solid #ced4da;
}

.current-date {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.week-days-row {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.week-day {
  width: 100%;
  text-align: center;
}

.dates-row {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #ced4da;
}
.dates-row:last-child {
  border: none;
}

.date-cell {
  width: 100%;
  text-align: right;
  border-right: 1px solid #ced4da;
  cursor: pointer;
}
.date-cell > .date {
  padding: 10px;
  font-weight: bold;
} 
.date-cell:last-child {
  border: none;
}
.date-cell:hover {
  background-color: #ececec;
}
.date-cell.disabled {
  background-color: #95a5a6;
  color: #ffffff;
  pointer-events: none;
}
