.date-cell {
  position: relative;
  width: 100%;
  text-align: right;
  border-right: 1px solid #ced4da;
  cursor: pointer;
}
.date-cell:last-child {
  border: none;
}
.date-cell:hover {
  background-color: #ececec;
}
.date-cell.disabled {
  background-color: #e2e4e4;
  pointer-events: none;
}
.date-cell.active {
  background-color: #2c3e50;
  color: #ffffff;
}
.date-cell.info {
  background-color: #3498DB;
  color: #ffffff;
}

.date {
  padding: 10px;
  font-weight: bold;
}

.close_btn {
  position: absolute;
  left: 10px;
  top: 7px;
  display: none;
  outline: none !important;
}
.date-cell:hover .close_btn {
  display: inline;
}

.event_title {
  padding: 0 10px 10px 10px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}

/* Popup */

.popper {
  z-index: 101;
}

.popper .popper-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.popper[data-placement^="top"] {
  margin-bottom: 5px;
}

.popper[data-placement^="top"] .popper-arrow {
  border-width: 5px 5px 0 5px;
  border-color: #222 transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement^="bottom"] {
  margin-top: 5px;
}

.popper[data-placement^="bottom"] .popper-arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #222 transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement^="right"] {
  margin-left: 5px;
}

.popper[data-placement^="right"] .popper-arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #222 transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-placement^="left"] {
  margin-right: 5px;
}

.popper[data-placement^="left"] .popper-arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #222;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-x-out-of-boundaries] {
  display: none;
}
